{% extends "base.html" %}
{% load static %}

{% block content %}

<h3>Hi!✋</h3>



<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 offset-lg-1">
        <h4>About the site</h4>
        <p>
            1. SignUp through email at any available role (Doctor/Patient) <br><hr><br>
            2. for activating your account click on the link sent on registerd email <br><hr><br>
            3. Login your account <br><hr><br>
        
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 offset-lg-1">
        <h4>Specification/Technology used</h4>
        <p>
            1. Unlimited User can register and choose their role (Doctor/Patient) <br><hr><br>
            2. Email verification <br><hr><br>
            3. Custom UserManager <br><hr><br>
            4. Django Templating  <br><hr><br>
        
        </p>
    </div>
</div>






{% endblock content %}